.wall-container{
    width: 100vw;
    height:100vh;
    background-color:rgb(201, 102, 102);
    padding: 10px;
    
    display: flex;
    flex-flow: row wrap;
}

.add-btn1{
    width: 70px;
    height: 70px;
    position: fixed;
    bottom:90px;
    right:10px;
    padding: 10px;
    background-color: springgreen;
    color: black;
    font-size: 40px;
    border-radius: 100%;
        
}

.add-btn2{
    width: 70px;
    height: 70px;
    position: fixed;
    bottom:10px;
    right:10px;
    padding: 10px;
    background-color:red;
    font-size: 40px;
    color: white;
    border-radius: 100%;
    
}

.add-btn3{
    width: 90px;
    height: 70px;
    position: fixed;
    
    bottom:10px;
    left:10px;
    position: absolute;
    padding: 10px;
    background-color:red;
    color: white;
    
    
}